h1 {
    text-align: center;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    text-align: center;
}

body {
    background-color: rgb(131, 199, 131);
}